.root {
    position: relative;
    
}

.input {
    width: 400px;
    height: 35px;
    padding: 12px 20px;
    padding-left: 50px;
    border-radius: 10px;
    border:1px solid rgba(0, 0,0, 0.2);
    font-size: 20px;
    left: 100px;
    &:focus {
       border:1px solid  rgba(0, 0,0, 0.2); 
    }
}
.icon {
    width: 22px;
    height: 22px; 
    position: absolute;
    opacity: 0.5; 
    left: 20px;
    top: 8px;
}
.clearIcon {
    width: 22px;
    height: 22px;
    background-color: red;
    border: red;
    opacity: 0.5; 
    left: 370px;
    position: absolute;
    top: 5px;
    
}